<a href="https://colab.research.google.com/github/tanusha4/tanusha4/blob/main/tmdb_5000.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#The Age of Recommender Systems

The rapid growth of data collection has led to a new era of information. Data is being used to create more efficient systems and this is where Recommendation Systems come into play. Recommendation Systems are a type of information filtering systems as they improve the quality of search results and provides items that are more relevant to the search item or are realted to the search history of the user.

They are used to predict the rating or preference that a user would give to an item. Almost every major tech company has applied them in some form or the other: Amazon uses it to suggest products to customers, YouTube uses it to decide which video to play next on autoplay, and Facebook uses it to recommend pages to like and people to follow. Moreover, companies like Netflix and Spotify depend highly on the effectiveness of their recommendation engines for their business and sucees.



<a href="https://imgbb.com/"><img src="https://i.ibb.co/Mntk5YG/movie.jpg" alt="movie" border="0"></a>

In [3]:
import pandas as pd 
import numpy as np
import seaborn as sns
import plotly as px
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

In [5]:
df1 = pd.read_csv('/content/tmdb_5000_credits.csv')
df2 = pd.read_csv('/content/tmdb_5000_movies.csv')

The first dataset contains the following features:-

* movie_id - A unique identifier for each movie.
* cast - The name of lead and supporting actors.
* crew - The name of Director, Editor, Composer, Writer etc.

The second dataset has the following features:-

* budget - The budget in which the movie was made.
* genre - The genre of the movie, Action, Comedy ,Thriller etc.
* homepage - A link to the homepage of the movie.
* id - This is infact the movie_id as in the first dataset.
* keywords - The keywords or tags related to the movie.
* original_language - The language in which the movie was made.
* original_title - The title of the movie before translation or adaptation.
* overview - A brief description of the movie.
* popularity - A numeric quantity specifying the movie popularity.
* production_companies - The production house of the movie.
* production_countries - The country in which it was produced.
* release_date - The date on which it was released.
* revenue - The worldwide revenue generated by the movie.
* runtime - The running time of the movie in minutes.
* status - "Released" or "Rumored".
* tagline - Movie's tagline.
* title - Title of the movie.
* vote_average - average ratings the movie recieved.
* vote_count - the count of votes recieved.

In [25]:
df1

          id  ...                                               crew
0      19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1        285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3      49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4      49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...      ...  ...                                                ...
4798    9367  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4799   72766  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4800  231617  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4801  126186  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4802   25975  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4803 rows x 4 columns]

In [26]:
df2

         budget  ... vote_count
0     237000000  ...      11800
1     300000000  ...       4500
2     245000000  ...       4466
3     250000000  ...       9106
4     260000000  ...       2124
...         ...  ...        ...
4798     220000  ...        238
4799       9000  ...          5
4800          0  ...          6
4801          0  ...          7
4802          0  ...         16

[4803 rows x 20 columns]

In [28]:
df3 = df1.merge(df2, on='id')

In [29]:
df3

          id  ... vote_count
0      19995  ...      11800
1        285  ...       4500
2     206647  ...       4466
3      49026  ...       9106
4      49529  ...       2124
...      ...  ...        ...
4798    9367  ...        238
4799   72766  ...          5
4800  231617  ...          6
4801  126186  ...          7
4802   25975  ...         16

[4803 rows x 23 columns]